<div class="custom-card row">
    <div class="d-flex justify-content-end">
        <div [className]="isFavorite ? 'btn-favorite is-favorite' : 'btn-favorite'" (click)="addFavorites(character.id)">
            <app-box-icon [iconClass]="'bx bx-heart'" />
        </div>
    </div>
    <div class="col-12">
        <img [src]="character.image" class="img-character img-fluid d-block mx-auto" alt="Imagen de {{character.name}}">
    </div>
    <p class="text-center info-name my-3">
        {{character.name}}
        <br>
        <span class="info-race">
            {{ character.race}}
        </span>
    </p>
    <button type="button" class="btn btn-sm btn-primary col-12" (click)="viewDetails(character.id)">Ver detalles</button>
</div>